<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Во время развертывания проекта библиотеки служб содержимое файла конфигурации необходимо добавить к файлу 
  app.config на узле. Файлы конфигурации для библиотек не поддерживаются System.Configuration. -->
  <connectionStrings>
    <add name="KanbanBoardContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DataAccessLayer.cs.KanbanBoardContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <diagnostics performanceCounters="Default" />
    <services>
      <service behaviorConfiguration="ServiceBeh" name="WcfBussinesLogicLayerLibrary.Services.AttachmentService">
        <endpoint address="Attach" binding="basicHttpBinding" bindingConfiguration=""
          name="AttachService" contract="WcfBussinesLogicLayerLibrary.Contracts.ICreateEditAttachmentContract" />
        <endpoint address="AttMex" binding="mexHttpBinding" bindingConfiguration=""
          name="Mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/service" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBeh" name="WcfBussinesLogicLayerLibrary.Services.BoardService">
        <endpoint address="Board" binding="basicHttpBinding" bindingConfiguration=""
          name="BoardService" contract="WcfBussinesLogicLayerLibrary.Contracts.ICreateEditeBoardContract" />
        <endpoint address="BoardMex" binding="mexHttpBinding" bindingConfiguration=""
          name="Mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/service" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBeh" name="WcfBussinesLogicLayerLibrary.Services.CardService">
        <endpoint address="CardService" binding="basicHttpBinding" bindingConfiguration=""
          name="Card" contract="WcfBussinesLogicLayerLibrary.Contracts.ICreateEditeCardContract" />
        <endpoint address="CardMex" binding="mexHttpBinding" bindingConfiguration=""
          name="Mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/service" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBeh" name="WcfBussinesLogicLayerLibrary.Services.ColumnsService">
        <endpoint address="ColumnService" binding="basicHttpBinding"
          bindingConfiguration="" name="Column" contract="WcfBussinesLogicLayerLibrary.Contracts.ICreateEditColumnsContract" />
        <endpoint address="ColumnMex" binding="mexHttpBinding" bindingConfiguration=""
          name="Mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/service" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBeh" name="WcfBussinesLogicLayerLibrary.Services.LogOn">
        <endpoint address="LogMex" binding="mexHttpBinding" bindingConfiguration=""
          name="Mex" contract="IMetadataExchange" />
        <endpoint address="LogOnService" binding="basicHttpBinding" bindingConfiguration=""
          name="LogON" contract="WcfBussinesLogicLayerLibrary.Contracts.ILogOnUserContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/service" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBeh" name="WcfBussinesLogicLayerLibrary.Services.ProfileService">
        <endpoint address="ProfMex" binding="mexHttpBinding" bindingConfiguration=""
          name="Mex" contract="IMetadataExchange" />
        <endpoint address="ProfileService" binding="basicHttpBinding"
          bindingConfiguration="" name="Profile" contract="WcfBussinesLogicLayerLibrary.Contracts.ICreateEditeProfileContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/service" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBeh" name="WcfBussinesLogicLayerLibrary.Services.TeamService">
        <endpoint address="TeamMex" binding="mexHttpBinding" bindingConfiguration=""
          name="Mex" contract="IMetadataExchange" />
        <endpoint address="TeamService" binding="basicHttpBinding" bindingConfiguration=""
          name="Team" contract="WcfBussinesLogicLayerLibrary.Contracts.ICreateEditeTeamContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/service" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBeh" name="WcfBussinesLogicLayerLibrary.Services.UserService">
        <endpoint address="UserMex" binding="mexHttpBinding" bindingConfiguration=""
          name="Mex" contract="IMetadataExchange" />
        <endpoint address="UserService" binding="basicHttpBinding" bindingConfiguration=""
          name="User" contract="WcfBussinesLogicLayerLibrary.Contracts.ICreateEditeUserContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBeh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
