<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="KanbanBoardContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DataAccessLayer.cs.KanbanBoardContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Profile" />
        <binding name="User" />
        <binding name="Team" />
        <binding name="LogON" />
        <binding name="Card" />
        <binding name="Column" />
        <binding name="BoardService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8738/Design_Time_Addresses/service/ProfileService"
        binding="basicHttpBinding" bindingConfiguration="Profile" contract="ProfileService.ICreateEditeProfileContract"
        name="Profile" />
      <endpoint address="http://localhost:8740/Design_Time_Addresses/service/UserService"
        binding="basicHttpBinding" bindingConfiguration="User" contract="UserService.ICreateEditeUserContract"
        name="User" />
      <endpoint address="http://localhost:8739/Design_Time_Addresses/service/TeamService"
        binding="basicHttpBinding" bindingConfiguration="Team" contract="TeamService.ICreateEditeTeamContract"
        name="Team" />
      <endpoint address="http://localhost:8737/Design_Time_Addresses/service/LogOnService"
        binding="basicHttpBinding" bindingConfiguration="LogON" contract="LogONService.ILogOnUserContract"
        name="LogON" />
      <endpoint address="http://localhost:8735/Design_Time_Addresses/service/CardService"
        binding="basicHttpBinding" bindingConfiguration="Card" contract="CardService.ICreateEditeCardContract"
        name="Card" />
      <endpoint address="http://localhost:8736/Design_Time_Addresses/service/ColumnService"
        binding="basicHttpBinding" bindingConfiguration="Column" contract="ColumnService.ICreateEditColumnsContract"
        name="Column" />
      <endpoint address="http://localhost:8734/Design_Time_Addresses/service/Board"
        binding="basicHttpBinding" bindingConfiguration="BoardService"
        contract="BoardService.ICreateEditeBoardContract" name="BoardService" />
    </client>
  </system.serviceModel>
</configuration>