<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="KanbanBoardContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DataAccessLayer.cs.KanbanBoardContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LogService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8735/Design_Time_Addresses/service/LogService"
        binding="basicHttpBinding" bindingConfiguration="LogService"
        contract="LogService.ILogONContract" name="LogService" />
    </client>
  </system.serviceModel>
</configuration>